html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* media queries */
html {
  font-size: 62.5%;
}

body {
  color: #eeeeee;
  font-family: "Poppins";
  border-top: 4px solid #db6c41;
  border-bottom: 4px solid #db6c41;
}

.container {
  margin: 0 auto;
}

.container header {
  /* header start */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background: #1a1a1a;
  padding: 40px 20% 0;
}

@media (max-width: 768px) {
  .container header {
    padding: 4px 0;
  }
}

.container header .logo {
  /* name logo start */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .container header .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container header .logo .logo-small-one {
  /* first name */
  font-family: "Oswald";
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: 200;
}

@media (max-width: 768px) {
  .container header .logo .logo-small-one {
    font-size: 10vw;
  }
}

.container header .logo .logo-small-two {
  /* last name */
  font-family: "Oswald";
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 0 3px;
  text-transform: uppercase;
  font-weight: 500;
  color: #db6c41;
}

@media (max-width: 768px) {
  .container header .logo .logo-small-two {
    font-size: 10vw;
  }
}

.container header nav {
  /* nav start */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .container header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container header nav {
    width: 70%;
    margin: 0 auto;
    padding: 0 5%;
  }
}

.container header nav a {
  /* nav links */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 2.5%;
  text-align: center;
  background: #272727;
  text-decoration: none;
  color: #dddddd;
  font-size: 1rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .container header nav a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0;
    padding: 15px;
    font-size: 2rem;
  }
}

.container header nav a:first-child {
  border-top-left-radius: 10px;
}

@media (max-width: 768px) {
  .container header nav a:first-child {
    border-radius: 0px;
  }
}

.container header nav a:last-child {
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .container header nav a:last-child {
    border-radius: 0px;
  }
}

.container header nav a:hover {
  background: #db6c41;
}

.container .info {
  /* info section */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20%;
  background: #272727;
}

@media (max-width: 768px) {
  .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.container .info .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 30px;
  width: 48%;
}

@media (max-width: 768px) {
  .container .info .right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1a1a1a;
  }
}

.container .info .right h1 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4.6rem;
  line-height: 45px;
}

.container .info .right p {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: justify;
}

@media (max-width: 768px) {
  .container .info .right p {
    text-align: center;
    font-size: 2rem;
  }
}

.container .info .right h2 {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: #db6c41;
}

.container .info .right a {
  /* header button */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 20px;
  margin: 30px 0 30px;
  background: #db6c41;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 10px;
  width: 200px;
}

.container .info .right a:hover {
  background: #aaaaaa;
}

.container .info .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
  width: 48%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .container .info .left {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 50px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #db6c41;
  }
}

.container .info .left img {
  /*picture of me */
  width: 100%;
}

@media (max-width: 768px) {
  .container .info .left img {
    width: 70vw;
  }
}

.container .gallery {
  /* Gallery Section */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 14% 50px;
  background: #1a1a1a;
}

@media (max-width: 768px) {
  .container .gallery {
    background: #272727;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .gallery .gallery-box {
  width: 270px;
  margin: 50px 10px 0;
}

@media (max-width: 768px) {
  .container .gallery .gallery-box {
    width: 160px;
    margin: 10px;
  }
}

.container .gallery .gallery-box:hover {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

@media (max-width: 768px) {
  .container .gallery .gallery-box .project-image img {
    width: 160px;
    margin: 0;
  }
}

.container .gallery .project-title {
  background: #272727;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

@media (max-width: 768px) {
  .container .gallery .project-title {
    background: #1a1a1a;
  }
}

.container .gallery .project-title h4 {
  text-align: center;
  color: #eeeeee;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: #272727;
}

.container footer h3 {
  font-size: 3rem;
}

.container footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 20px 80px;
  margin: 20px 0 40px;
  background: #db6c41;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  font-weight: 400;
}

.container footer a:hover {
  background: #aaaaaa;
}
