$weight: (
  "thin": 200,
  "medium": 300,
  "bold": 500,
);

$accent-color2: #db6c41;
$accent-color1: #6e4bee;
$accent-color3: #41dbc1;
$accent-color4: #6feb50;

$text-color1: #eeeeee;
$text-color2: #aaaaaa;

$nav-link: #dddddd;

$background1: #1a1a1a;
$background2: #272727;
