/** CSS RESET START**/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font: inherit;  
vertical-align: baseline;  
box-sizing: border-box;
}
/** CSS RESET END **/

html {
    font-size: 62.5%; /** set the base font-size to 10px **/ 
}

body {
    background: #222222;
    color: #eee;
    font-family: "Poppins";
}

.container {
    margin: 0 auto;
}

/* HEADER START */
header {
    display: flex;
    flex-flow: column wrap;
    background: #313131;
    padding: 10px 20%;
}

header .logo .logo-small-one , .logo-small-two {
    font-family: "Oswald";
    font-size: 3rem;
    text-transform: uppercase;
}

header .logo .logo-small-one {
    font-weight: 300;
}

header .logo .logo-small-two {
    font-weight: 600;
    margin-left: 5px;
}

/* NAVIGATION START */
header nav a {
    display: inline-flex;
    flex-flow: column nowrap;
    padding: 10px 30px;
    background: black;
    text-decoration: none;
    color: white;
}

header nav a:hover {
    background: #222;
}

/* INFO SECTION START */
.info {
    display: flex;
    padding: 1% 20%;
    background: #1f1f1f;
}

section.info .right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5%;
    align-items: flex-start;
    justify-content: flex-end;
}

section.info .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5% 5% 5% 0;
    align-items: center;
}

section.info .left img {
    width: 60vh;
}

.right h1 {
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
}

section.info .right a {
    display: inline-block;
    text-decoration: none;
    padding: 4% 15%;
    margin: 5% 0 5%;
    background: #ff5e00;
}

section.info .right p {
    font-size: 1.5rem;
}
/* INFO SECTION END */


/* GALLERY START */
section.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 14% 50px;
    background: #303030;
}

section.gallery .gallery-box {
    background: white;
    width: 270px;
    height: 220px;
    margin: 50px 10px 0;
}

div.project-title p {
    text-align: center;
    margin: 10px;
}
/* GALLERY END */


/* FOOTER START */
footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #1f1f1f;
}

footer h3 {
    font-size: 3rem;
}

footer a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 80px;
    margin: 20px 0 40px;
    background: rgb(255, 94, 0);
}